.content-all{
  top: 45px;
  width: 100%;
  position: relative;
  background-color: #1d1d1d;
  padding:  8px;
}

.content{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  z-index: 1;
  flex-wrap: nowrap;
  height: 93vh;
}

/**/
.content > div {
  width: 100%;
  height:  100%;
  padding-right: 8px;
}
/*price chart*/
.content > div:first-child {
  width: 45%;
  min-width: 240px;
}
/*orderbook, market trades*/
.content > div:nth-child(2) {
  width: 27.5%;
  min-width: 300px;
}
/*deposit-withdrawal, buy/sell*/
.content > div:last-child {
  width: 27.5%;
  padding-right: 0px;
  min-width: 300px;
}
@media (max-width:992px) {
  .content-all{
    display: block;
    overflow-y: auto
  }
  .content {
    display: block;
    overflow-y: scroll
  }

  .content > div {
    width: 100%!important;
    padding-right: 0;
    padding-bottom: 8px
  }
  .content > div:first-child{
    height: 50vh;
  }
  .transactions-tab-config{
    font-size: 10px !important;
  }
  .text-muted{
    font-size: 10px !important;
  }
}
/*price chart box control*/
.vertical > div {
  height: 100%;
  background-color: #1d1d1d !important;
}

.vertical-split {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  
}

/*controls all div in vertical split*/
.vertical-split > div {
  height: 50%;
  /*margin-bottom: 8px;*/
}

.vertical-split:nth-child(2) > div:second-child{
  margin-bottom: 8px;
}

/*New order control*/
.vertical-split:last-child > div:first-child{
  height: 50%;
  padding-bottom: 0px;
}
/*Balance control*/
.vertical-split:last-child > div:second-child{
  width: 50%;
}
/*@media (max-width:992px) {
  .vertical-split {
    display: block
  }
  .vertical-split > div,
  .vertical-split:first-child > div:first-child {
    height: auto
  }
  .vertical-split:first-child > div:second-child {
    height: 300px
  }
  .vertical-split:second-child > div:first-child {
    height: auto
  }
  .vertical-split:second-child > div:second-child {
    height: auto
  }
}*/

/*my transactions control*/
.content2 > div{
  height: 47vh;
  margin-top: 8px;
  min-width: 250px;
}

.card {
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.card-header {
  padding: 8px 4px;
}

.card-body{
  flex: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 2px;
}
.card-body2{
  flex: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.card-body th {
  border-top: 0;
}

.card-body .nav-tabs {
  border-color: #95999c;
}

.card-body .nav-item.nav-link {
  font-size: 80%;
  font-weight: bold;
  background-color: inherit;
  color: inherit;
  padding: 4px 8px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: #95999c;
  border-radius: 0px;
}

.card-body .nav-item.nav-link.active {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #007bff;
}

.card-body .price-chart {
  height:100%;
  padding-bottom: 0px;
}

.card-body .price-chart .price {
  padding-left: 20px;
}

/*------------------*/
td.cancel-order {
  cursor: pointer;
}

tr.order-book-order {
  cursor: pointer;
}
.nav-link-hover:hover{
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.account-etherscan{
  text-decoration: none;
  /*transition: transform 50ms ease-out 50ms;*/
}
.account-etherscan:hover {
  text-decoration: none;
}
/*-------*/
.transactions-tab-config.active{
  color: white !important;
  background-color: #1d1d1d !important;
  height: 33px !important;
  font-size: 10px;
  /*border: 0 !important;*/
}
.transactions-tab-config{
  color: white !important;
  /*background-color: transparent !important;*/
  height: 33px !important;
  font-size: 10px;

}
.transactions-tab-config:hover{
  color: black !important;
  /*background-color: #1d1d1d !important;*/
  /*height: 33px !important;*/
}
.transactions-tab-config.active:hover{
  color: white !important;
}
/*-------*/
.balance-tab-config.active{
  color: white !important;
  background-color: #1d1d1d !important;
  height: 33px !important;
  font-size: 10px;

  /*max-width: 20px !important;*/
}
.balance-tab-config.active:hover{
  color: white !important;
}
.balance-tab-config:hover{
  color: black !important;
}
.balance-tab-config{
  color: white !important;
  height: 33px !important;
  font-size: 10px;
  /*max-width: 20px !important;*/
}
/*------*/
.newOrder-tab-config.active{
  color: white !important;
  background-color: #1d1d1d !important;
  height: 33px !important;
  font-size: 10px;
  /*max-width: 20px !important;*/
}
.newOrder-tab-config.active:hover{
  color: white !important;
  /*max-width: 20px !important;*/
}
.newOrder-tab-config{
  color: white !important;
  height: 33px !important;
  font-size: 10px;
  /*max-width: 20px !important;*/
}
.newOrder-tab-config:hover{
  color: black !important;
}
/*------*/
.table-border{
  border-width: 1px;
  border-top-style: solid !important;
}
.footer{
  width: 100vh !important;
  height: 40vh !important;
  align-items: stretch !important;
}
.order-book{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.buyTable{
  border-right-width: 1px !important;
  border-right-color: #787878 !important;
  border-right-style: solid !important;
}
.sellTable{
  border-left-width: 1px !important;
  border-left-color: #787878 !important;
  border-left-style: solid !important;
}

.tableReset{
  /*background-color: inherit !important;*/
  transition: all 500ms ease-out;
}
.tableBuySelected{
  background-color: limegreen !important;
  transition: all 500ms ease-in;
}
.tableSellSelected{
  background-color: crimson !important;
  transition: all 500ms ease-in;
}
.trBorderBuy{
  border-bottom: transparent !important;
  border-right: transparent !important;
}
.trBorderSell{
  border-bottom: transparent !important;
  border-left: transparent !important;
}
.order-book{
  padding: 0;
}
